<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="web-server/public/stylesheets/dist.css">
    </head>

    <body>
        {{>header}}
        
        <h4>Hey, you have the 404 page :( {{message}}</h4>

        {{>footer}}

    </body>
</html>