<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/dist.css">
    </head>

    <body>
        {{>header}}
        <h3>{{helpCenter}} is open</h3>

        {{>footer}}

    </body>
</html>